# File format instructions
*.bsp
*.qist
*.o
*.o.d
*.anc
*.mod
*.png
*.rot
*.odesolution
*.subspice
*.resamp
# Executables
make_cheby_kernel
make_new_kernel
make_qist_existing_kernel
make_resample
make_rot
unit_test_run
# Libraries
*.a
*.so
curve_deimos*.nml
